.container{
    display: flex;
    justify-content: center;
    

}
.card{
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    /* border-color: rgb(252, 206, 2)!important; */
   
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    /* padding-top: 20px; */
}

/* .uno{
    background-color:rgb(252, 206, 2);
    
} */

.portada{
    max-height: 350px;
  
}

